<template>
  <div class="vue-template">
    <h6>User Signup:{{ totalUser }}</h6>
    <h6>User Active:{{ activeToday }}</h6>
    <h6>Avg User Active:{{ avgLast7Day }}</h6>

    <table style="width: 100%">
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Numb of Login</th>
        <th>Last Login</th>
      </tr>
      <tr v-for="(user, i) in users" :key="user.id">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ new Date(user.createdAt).toString().slice(4, 31) }}</td>
        <td>{{ user.timesLogin }}</td>
        <td>{{ new Date(user.lastLogin).toString().slice(4, 31) }}</td>
      </tr>
    </table>
  </div>
</template>
<script>
import axios from 'axios';

export default {
  data() {
    return {
      users: [],
      totalUser: '',
      activeToday: '',
      avgLast7Day: '',
    };
  },
  methods: {
    async getStatistic() {
      try {
        const { data } = await axios.get(
          `https://aha-test.herokuapp.com/api/statistic`,
          {
            headers: {
              Authorization: `Bearer ${localStorage.getItem('jwt')}`,
            },
            // eslint-disable-next-line no-unused-vars
            validateStatus(status) {
              return true; // status >= 200 && status < 300; // default
            },
          }
        );
        if (data.status === 'Error') {
          localStorage.clear();
          this.$router.go('/login');
        } else {
          this.totalUser = data.totalUser;
          this.activeToday = data.activeToday;
          this.avgLast7Day = data.avgLast7Day;
        }
      } catch (error) {
        alert(error.message);
      }
    },
    async getAllUser() {
      try {
        const { data } = await axios.get(
          `https://aha-test.herokuapp.com/api/users`,
          {
            headers: {
              Authorization: `Bearer ${localStorage.getItem('jwt')}`,
            },
            // eslint-disable-next-line no-unused-vars
            validateStatus(status) {
              return true; // status >= 200 && status < 300; // default
            },
          }
        );
        if (data.status === 'Error') {
          localStorage.clear();
          this.$router.go('/login');
        } else {
          this.users = data.data;
        }
      } catch (error) {
        alert(error.message);
      }
    },
  },
  beforeMount() {
    this.getStatistic();
    this.getAllUser();
  },
};
</script>
