<template>
  <div class="vue-tempalte">
    <form @submit.prevent="submitEmail">
      <h3>Verify Email</h3>

      <div class="form-group">
        <label>Email address</label>
        <input
          type="email"
          class="form-control form-control-lg"
          v-model="email"
          required
        />
      </div>

      <button
        type="submit"
        class="btn btn-dark btn-lg btn-block"
        style="margin-top: 1%"
      >
        Send Link
      </button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      email: '',
    };
  },
  methods: {
    async submitEmail() {
      try {
        const { data } = await axios.post(
          `https://aha-test.herokuapp.com/api/auth/confirm`,
          {
            email: this.email,
          },
          {
            // eslint-disable-next-line no-unused-vars
            validateStatus(status) {
              return true; // status >= 200 && status < 300; // default
            },
          }
        );
        if (data.message == 'Email sent!') {
          alert('Check Email to Verify');
          this.$router.push('/login');
        } else {
          alert(data.message);
        }
      } catch (error) {
        alert(error.message);
      }
    },
  },
};
</script>
