<template>
  <div class="vue-tempalte">
    <form @submit.prevent="submitHandler">
      <h3>Sign In</h3>

      <div class="form-group">
        <label>Email address</label>
        <input
          id="email"
          type="email"
          class="form-control form-control-lg"
          v-model="email"
          required
        />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          id="password"
          type="password"
          class="form-control form-control-lg"
          v-model="password"
          required
        />
      </div>
      <div><input type="checkbox" @click="showPw()" /> show password</div>

      <button
        type="submit"
        class="btn btn-dark btn-lg btn-block"
        style="margin-top: 1%"
        to="/dashboard"
      >
        Sign In
      </button>

      <div class="social-icons">
        <ul>
          <li>
            <a @click.prevent="googleLogin"><i class="fa fa-google"></i></a>
          </li>
          <li>
            <a @click.prevent="facebookLogin"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      email: '',
      password: '',
    };
  },
  methods: {
    async submitHandler() {
      try {
        const { data } = await axios.post(
          `https://aha-test.herokuapp.com/api/auth/login`,
          {
            email: this.email,
            password: this.password,
          },
          {
            // eslint-disable-next-line no-unused-vars
            validateStatus(status) {
              return true; // status >= 200 && status < 300; // default
            },
          }
        );
        if (!data.access_token) {
          if (data.message == 'Email not verified') {
            alert(data.message);
            this.$router.push('/verify');
          } else {
            alert(data.message);
          }
        } else {
          localStorage.setItem('jwt', data.access_token);
          if (localStorage.getItem('jwt') != null) {
            if (this.$route.params.nextUrl != null) {
              this.$router.go(this.$route.params.nextUrl);
            } else {
              this.$router.go('/dashboard');
            }
          }
        }
      } catch (error) {
        alert(error.message);
      }
    },
    async showPw() {
      var x = document.getElementById('password');
      if (x.type === 'password') {
        x.type = 'text';
      } else {
        x.type = 'password';
      }
    },
    async googleLogin() {
      window.open(
        'https://aha-test.herokuapp.com/api/auth/google',
        'mywindow',
        'location=1,status=1,scrollbars=1, width=800,height=800'
      );
      window.addEventListener('message', (message) => {
        localStorage.setItem('jwt', message.data.access_token);
        this.$router.go('/dashboard');
      });
    },
    async facebookLogin() {
      window.open(
        'https://aha-test.herokuapp.com/api/auth/facebook',
        'mywindow',
        'location=1,status=1,scrollbars=1, width=800,height=800'
      );
      window.addEventListener('message', (message) => {
        localStorage.setItem('jwt', message.data.access_token);
        this.$router.go('/dashboard');
      });
    },
  },
};
</script>
