<template>
  <div class="vue-template">
    <table style="width: 100%">
      <tr>
        <th>
          Name : {{ name }}
          <form @submit.prevent="editName" v-if="editing">
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                v-model="name"
                required
              />
            </div>
            <button
              type="submit"
              class="btn btn-dark btn-lg btn-block"
              style="margin-top: 1%"
            >
              Update
            </button>
          </form>
        </th>
        <td>
          <button
            @click.prevent="changeEditing"
            class="btn btn-outline-primary"
            style="font-size: 12px; padding: 5px"
          >
            edit
          </button>
        </td>
      </tr>
      <tr>
        <th>Email : {{ emailuser }}</th>
      </tr>
      <tr>
        <th>
          <form @submit.prevent="changePassword" v-if="editPw">
            <div class="form-group">
              <label>Old Password</label>
              <input
                type="password"
                id="oldPw"
                class="form-control form-control-lg"
                v-model="oldPassword"
                required
              />
              <div>
                <input type="checkbox" @click="showoldPw()" /> show old password
              </div>
            </div>
            <div class="form-group">
              <label>New Password</label>
              <input
                type="password"
                id="newPw"
                class="form-control form-control-lg"
                v-model="newPassword"
                required
              />
              <div>
                <input type="checkbox" @click="shownewPw()" /> show new password
              </div>
            </div>
            <div class="form-group">
              <label>Confirm New Password</label>
              <input
                type="password"
                id="cnewPw"
                class="form-control form-control-lg"
                v-model="confirmNewPassword"
                required
              />
              <div>
                <input type="checkbox" @click="showcnewPw()" /> show confirm
                password
              </div>
              <a v-if="warnDif" style="color: red"
                >confirm password must be same as new password</a
              >
            </div>
            <button
              type="submit"
              class="btn btn-dark btn-lg btn-block"
              style="margin-top: 1%"
            >
              Change
            </button>
          </form>
        </th>
        <td>
          <button
            @click.prevent="editingPassword"
            class="btn btn-outline-primary"
            style="font-size: 12px; padding: 5px"
          >
            Change Password
          </button>
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  data() {
    return {
      name: localStorage.getItem('username'),
      emailuser: localStorage.getItem('email'),
      editing: false,
      editPw: false,
      oldPassword: '',
      newPassword: '',
      confirmNewPassword: '',
      samePw: false,
      warnDif: false,
    };
  },
  methods: {
    changeEditing() {
      this.editing = this.editing === false;
    },
    editingPassword() {
      this.editPw = this.editPw === false;
    },
    checkSameConfirmPw() {
      this.samePw = this.newPassword === this.confirmNewPassword;
      return this.samePw;
    },
    async showoldPw() {
      var x = document.getElementById('oldPw');
      if (x.type === 'password') {
        x.type = 'text';
      } else {
        x.type = 'password';
      }
    },
    async shownewPw() {
      var x = document.getElementById('newPw');
      if (x.type === 'password') {
        x.type = 'text';
      } else {
        x.type = 'password';
      }
    },
    async showcnewPw() {
      var x = document.getElementById('cnewPw');
      if (x.type === 'password') {
        x.type = 'text';
      } else {
        x.type = 'password';
      }
    },
    async editName() {
      try {
        const { data } = await axios.put(
          `https://aha-test.herokuapp.com/api/user`,
          {
            name: this.name,
          },
          {
            headers: {
              Authorization: `Bearer ${localStorage.getItem('jwt')}`,
            },
            // eslint-disable-next-line no-unused-vars
            validateStatus(status) {
              return true; // status >= 200 && status < 300; // default
            },
          }
        );
        if (data.status == 'Error') {
          alert(data.message);
        } else {
          localStorage.setItem('username', data.data.name);
          this.name = data.data.name;
          this.$router.go('/profile');
        }
      } catch (error) {
        alert(error.message);
      }
    },
    async changePassword() {
      if (this.checkSameConfirmPw()) {
        try {
          const { data } = await axios.put(
            `https://aha-test.herokuapp.com/api/user/password`,
            {
              oldPassword: this.oldPassword,
              newPassword: this.newPassword,
            },
            {
              headers: {
                Authorization: `Bearer ${localStorage.getItem('jwt')}`,
              },
              // eslint-disable-next-line no-unused-vars
              validateStatus(status) {
                return true; // status >= 200 && status < 300; // default
              },
            }
          );
          if (data.status == 'Error') {
            alert(data.message);
          } else {
            this.$router.go('/profile');
          }
        } catch (error) {
          alert(error.message);
        }
      } else {
        this.warnDif = true;
      }
    },
  },
};
</script>
