<template>
  <div class="vue-tempalte">
    <form @submit.prevent="submitHandler">
      <h3>Sign Up</h3>

      <div class="form-group">
        <label>Full Name</label>
        <input
          type="text"
          class="form-control form-control-lg"
          v-model="name"
          required
        />
      </div>

      <div class="form-group">
        <label>Email address</label>
        <input
          type="email"
          class="form-control form-control-lg"
          v-model="email"
          required
        />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          id="pw"
          class="form-control form-control-lg"
          v-model="password"
          required
        />
      </div>
      <div><input type="checkbox" @click="showPw()" /> show password</div>

      <button
        type="submit"
        class="btn btn-dark btn-lg btn-block"
        style="margin-top: 1%"
      >
        Sign Up
      </button>

      <p class="forgot-password text-right">
        Already registered
        <router-link :to="{ name: 'login' }">sign in?</router-link>
      </p>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      name: '',
      email: '',
      password: '',
    };
  },
  methods: {
    async submitHandler() {
      try {
        const { data } = await axios.post(
          `https://aha-test.herokuapp.com/api/auth/register`,
          {
            name: this.name,
            email: this.email,
            password: this.password,
          },
          {
            // eslint-disable-next-line no-unused-vars
            validateStatus(status) {
              return true; // status >= 200 && status < 300; // default
            },
          }
        );
        if (data.message === 'Check email to verify') {
          alert(data.message);
          this.$router.go('/login');
        } else {
          alert(data.message);
        }
      } catch (error) {
        alert(error.message);
      }
    },
    async showPw() {
      var x = document.getElementById('pw');
      if (x.type === 'password') {
        x.type = 'text';
      } else {
        x.type = 'password';
      }
    },
  },
};
</script>
