<template>
  <div class="vue-tempalte">
    <!-- Navigation -->
    <nav
      class="navbar shadow bg-white rounded justify-content-between flex-nowrap flex-row fixed-top"
    >
      <div class="container">
        <a class="navbar-brand float-left" href="/"> Aha! </a>
        <ul class="nav navbar-nav flex-row float-right">
          <li class="nav-item" style="padding-right: 2px" v-if="!auth">
            <router-link class="nav-link pr-3" to="/login">Sign in</router-link>
          </li>
          <li class="nav-item" style="padding-left: 2px" v-if="!auth">
            <router-link class="btn btn-outline-primary" to="/"
              >Sign up</router-link
            >
          </li>
          <li class="nav-item" style="padding-left: 2px" v-if="auth">
            <a class="btn" href="/profile">{{ username }}</a>
          </li>
          <li class="nav-item" style="padding-left: 2px" v-if="auth">
            <a class="btn btn-outline-primary" @click.prevent="onLogout">
              Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main -->
    <div class="App">
      <div class="vertical-center">
        <div class="inner-block">
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  data() {
    return {
      username: '',
    };
  },
  computed: {
    auth() {
      return localStorage.getItem('jwt') != null;
    },
  },
  methods: {
    async onLogout() {
      const { data } = await axios.post(
        `https://aha-test.herokuapp.com/api/auth/logout`,
        {},
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem('jwt')}`,
          },
          // eslint-disable-next-line no-unused-vars
          validateStatus(status) {
            return true; // status >= 200 && status < 300; // default
          },
        }
      );
      localStorage.clear();
      alert(data.message);
      this.$router.go('/login');
    },
    async getUser() {
      const { data } = await axios.get(
        `https://aha-test.herokuapp.com/api/user`,
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem('jwt')}`,
          },
          // eslint-disable-next-line no-unused-vars
          validateStatus(status) {
            return true; // status >= 200 && status < 300; // default
          },
        }
      );
      localStorage.setItem('username', data.data.name);
      localStorage.setItem('email', data.data.email);
      this.username = localStorage.getItem('username');
    },
  },
  beforeMount() {
    if (localStorage.getItem('jwt')) {
      this.getUser();
    }
  },
};
</script>
